* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { min-height: 100%; height: 100%; }

.container { min-height: 100%; }

.loading-overlay {
    position: absolute;
    left: 0; top: 0;
    background: #0004;
    height: 100vh; width: 100vw;
    display: flex;
    align-items: center; justify-content: center;
}

.loading-overlay[data-hidden=true] {
    display: none;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #aaa;
    padding: 20px 20px;
}

header .branding {
    display: flex;
    margin-right: auto;
}

header .branding input {
    margin-left: 20px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 0 10px 0 30px;
}

header .category {
    list-style: none;
    display: flex;
    align-items: center;
}

header .category li {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

header .category li:hover {
    background-color: #ccc;
}

header .category li:active {
    background-color: #888;
    color: #fff;
}

main .tags {
    width: 100%;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    height: 40px;
    background: #aaa;
}

main .tags::-webkit-scrollbar {
    background: transparent;
}

main .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.item-block {
    width: 350px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;

    cursor: pointer;

    transition: .1s;
}

.item-block:hover {
    background: #ccc;
    transition: .1s;
}

.item-block .item-icon {
    width: 100px;
    height: 100px;
    border-right: 1px solid #ccc;
    
}

.item-block .item-description {
    display: flex;
    width: 250px;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
}

.item-block .item-description .item-tag-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 15px;
}

.item-block .item-description .item-tag-list li {
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #aaa;
    font-size: .9em;
}

.item-block .item-description .item-tag-list li::before {
    content: '#';
}

.attributes {
    padding: 30px 10px;
    background: #aaa;
    color: #fff;
}

.attributes span {
    margin-right: 15px;
}

.attributes a {
    text-decoration: none;
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1300px;
        margin: auto;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header .branding {
        flex-direction: column;
        margin: auto;
    }

    header .branding h2 {
        margin: 10px 0;
        text-align: center;
    }

    header .branding input {
        margin-bottom: 10px;
        padding: 10px 10px 10px 30px;
        width: auto;
    }
}
